.cabeçalho2{
    background-color: rgb(56, 177, 228);
}
.cabeçalho, .celula{
    /* Configura o formato da borda(Espessura, tipo e cor */

    background-color: rgb(255, 255, 255);
    }
.timeruim {
    background-color: #f65858;
}
.timebom{
    background-color: rgb(77, 237, 101);
}
.table {
    text-align: center
}
.secao {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* Coloca espaço entre os elementos */
    gap: 10px;
    /* Quebra os elementos para outra linha, caso não haja espaço suficiente */
    flex-wrap: wrap;
    justify-content: space-around;
    /* Distribui os itens com espaço ao redor deles */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: x-small;
}