@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    /*Assegura que padding e margin sejam incluidos nas dimensoes totais do elemento*/
    box-sizing: border-box;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
}